@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Large Bird toolbar icon */

#launchTagzilla {
  list-style-image: url("chrome://tagzilla/skin/tagzilla-toolbar.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#launchTagzilla:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

#launchTagzilla:active {
  -moz-image-region: rect(0px 72px 24px 48px);
}

/* Small Bird toolbar icon */

toolbar[iconsize="small"] #launchTagzilla {
  list-style-image: url("chrome://tagzilla/skin/tagzilla-toolbar-small.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #launchTagzilla:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

toolbar[iconsize="small"] #launchTagzilla:active {
  -moz-image-region: rect(0px 48px 16px 32px);
}

/* Tagline modification buttons */
#taglineBtns > toolbarbutton > .toolbarbutton-text {
    display: none;
}

#tzRandBtn {
    list-style-image: url("chrome://tagzilla/skin/tz-rand.png");
}

#tzAddBtn {
    list-style-image: url("chrome://tagzilla/skin/tz-add.png");
}

#tzAddBtn[disabled] {
    list-style-image: url("chrome://tagzilla/skin/tz-add-dis.png");
}

#tzModifyBtn {
    list-style-image: url("chrome://tagzilla/skin/tz-mod.png");
}

#tzModifyBtn[disabled] {
    list-style-image: url("chrome://tagzilla/skin/tz-mod-dis.png");
}

#tzDelBtn {
    list-style-image: url("chrome://tagzilla/skin/tz-del.png");
}

#tzDelBtn[disabled] {
    list-style-image: url("chrome://tagzilla/skin/tz-del-dis.png");
}
