@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.icon-tagzilla16 {
  list-style-image: url("chrome://tagzilla/content/tagzilla-16.png");
}

.url {
  color: blue;
}

.url:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#launchTagzilla {
  list-style-image: url("chrome://tagzilla/content/tagzilla-phoenix.png") !important;
}

toolbar[iconsize="small"] #launchTagzilla {
  list-style-image: url("chrome://tagzilla/content/tagzilla-phoenix-small.png") !important;
}
