@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* The TagZilla icon on menus */

.icon-tagzilla16 {
  list-style-image: url("chrome://tagzilla/content/tagzilla-16.png");
}

/* XUL-clickable URLs */

.url {
  color: blue;
}

.url:hover {
  text-decoration: underline;
  cursor: pointer;
}
